body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    margin-top: 10px;
}

#myStudentId{
    font-size: 35px;
    text-align: center;
}
label{
    text-align: center;
}